@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.sheet div.flex-fullwidth {
  flex-basis: 100%;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: "Goodbrush";
  src: url("/systems/subversion/assets/fonts/GOODBRUSH.woff") format("woff"), url("/systems/subversion/assets/fonts/GOODBRUSH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Styles limited to subversion sheets */
.subversion .item-form {
  font-family: "Roboto", sans-serif;
}
.subversion .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.subversion .sheet-header .main-logo {
  border: none;
}
.subversion .sheet-header #profile-img {
  height: 200px;
  width: 150px;
}
.subversion .sheet-header .charname {
  height: 30px;
}
.subversion .sheet-header .charname input {
  width: 100%;
  margin: 0;
}
.subversion .sheet-tabs {
  flex: 0;
}
.subversion .sheet-body,
.subversion .sheet-body .tab,
.subversion .sheet-body .tab .editor {
  height: 100%;
}
.subversion .tox .tox-editor-container {
  background: #fff;
}
.subversion .tox .tox-edit-area {
  padding: 0 8px;
}
.subversion .resource-label {
  font-weight: bold;
}
.subversion .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.subversion .items-header > * {
  font-size: 14px;
  text-align: center;
}
.subversion .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.subversion .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.subversion .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subversion .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.subversion .items-list .item-name h3, .subversion .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.subversion .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.subversion .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.subversion .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.subversion .items-list .item:last-child {
  border-bottom: none;
}
.subversion .items-list .item .item-name {
  color: #191813;
}
.subversion .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.subversion .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.subversion .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.subversion .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.subversion .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.subversion .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.subversion .effects .item .effect-source,
.subversion .effects .item .effect-duration,
.subversion .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.subversion .effects .item .effect-controls {
  border: none;
}
.subversion #header-main {
  grid-template-columns: 30% 40% 30%;
}
.subversion div.attribute-values {
  padding: 0 10px;
}
.subversion label.resource-label {
  font-family: "Goodbrush", sans-serif;
}
.subversion div.attribute-values label.resource-label {
  text-align: center;
  background-color: yellow;
  border-radius: 7px 7px 0px 0px;
  display: inline-block;
  width: 100%;
}
.subversion div#header-defense div.flexrow {
  justify-content: space-evenly;
}
.subversion div#header-defense div.flexrow div {
  flex-grow: 0;
  flex-basis: 110px;
  border-radius: 7px;
  padding: 6px 20px;
  margin: 10px;
  background-color: slategray;
}
.subversion div#header-defense div.flexrow:last-child div {
  background-color: goldenrod;
}
.subversion div#header-defense div.flexrow:last-child div:first-child {
  background-color: rgb(90, 90, 90);
}
.subversion div#header-defense label.resource-label {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: white;
}
.subversion #header-left-values {
  background-color: rgb(157, 175, 186);
  padding: 10px;
}
.subversion input {
  background-color: rgb(255, 255, 255);
}
.subversion .area-label {
  text-transform: uppercase;
}
.subversion #header-foot {
  height: 160px;
}
.subversion #header-defense {
  grid-template-rows: 20px 1fr 1fr;
}
.subversion #header-defense .area-label {
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: gray;
}
