.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .main-logo {
    border: none;
  }

  #profile-img {
    height: 200px;
    width: 150px;
    background: var(--listbackground);
  }

  .charname {
    height: 30px;
    input {
      width: 100%;
      margin: 0;
    }
  }
}

.sheet-header.item-header {
  flex-wrap: nowrap;
  align-items: flex-start;
  .itemname {
    height: 26px;
    input {
      width: 100%;
      height: 26px;
      margin: 0;
    }
  }

  .item-img {
    height: 80px;
    width: 80px;
    background: var(--listbackground);
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}