// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

@font-face {
  font-family: 'Goodbrush';
  src: url('/systems/subversion/assets/fonts/GOODBRUSH.woff') format('woff'), url('/systems/subversion/assets/fonts/GOODBRUSH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Styles limited to subversion sheets */
.subversion {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
  @import 'components/skills';

  --yellow: #e8d529;
  --pink: #df78af;
  --darkblue: #2b3a56;
  --salmon:  rgb(141, 89, 106);
  --stdshadow: 2px 1px rgb(50,50,50);
  --skillbrown: rgba(150, 120, 70, 0.6);

  --tornpaper: url('/systems/subversion/assets/torn_paper.png');

  #header-main {
    grid-template-columns: 28% 40% 28%;
    padding-left: 2%;
    gap: 0px;
  }

  div.attribute-values {
    padding: 0 10px;
  }

  .resource-label {
    font-family: 'Goodbrush', sans-serif;
  }

  div#logobar {
    margin: 10px 0px 0px 0px;
  }

  div.torn-background {
    mask: var(--tornpaper);
    mask-position: right top;
    mask-repeat: repeat-y;
    mask-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  div.torn-background.torn-left {
    transform: rotate(180deg);
  }

  div.torn-background.torn-bottom {
    transform: rotate(90deg);
  }

  div.torn-background.torn-top {
    transform: rotate(270deg);
  }

  #header-left-values, #header-right-values {
    padding: 10px;
    position: relative;
    & > div.system-value {
      position: relative;
      margin-bottom: 6px;
      padding: 0 15px;

      input {
        height: 100%;
        border-radius: 4px;
      }

      label {
        position: absolute;
        bottom: 2px;
        right: 18px;
        color: white;
        padding: 4px 1px 1px 4px;
        display: inline-block;
      }
    }
  }

  #header-left-values {
    label {
      background-color: var(--darkblue)
    }

    input {
      border: 2px solid var(--darkblue)
    }
  }

  #header-right-values {
    label {
      background-color: var(--pink)
    }

    input {
      border: 2px solid var(--pink)
    }
  }

  div#header-center-values, div#charname {
    label.resource-label {
      text-align: center;
      background-color: var(--yellow);
      border-radius: 7px 7px 0px 0px;
      display: inline-block;
      width: 100%;
      padding: 1px;
      color: var(--darkblue);
    }

    input, img {
      border: 2px solid var(--yellow);
    }
  }

  img#header-separator {
    width: 100%;
    border: none;
    height: unset;
    margin-right: unset;
  }

  div#header-foot {
    .area-label {
      font-size: 18px;
      height: 24px;
      text-align: center;
      color: white;
      font-weight: bold;
      text-shadow: var(--stdshadow);
      
    }

    label.resource-label {
      text-align: center;
      display: inline-block;
      width: 100%;
      color: white;
      font-size: 16px;
      text-shadow: var(--stdshadow);
    }

    div.condition-tracker {
      flex-grow: 0;
      border-radius: 7px;
      margin: 10px;
    }
  }

  div#header-defense {
    .area-label {
      background-color: rgba(112, 128, 144, 0.6);
    }

    div.flexrow {
      justify-content: space-evenly;

      div {
        flex-grow: 0;
        flex-basis: 110px;
        padding: 6px 20px;
        background-color: rgb(112, 128, 144);
      }
    }

    /*div.flexrow:last-child {
      div {
        background-color: goldenrod;
      }
      div:first-child {
        background-color: rgb(90,90,90);
      }

    }*/
  }

  div#header-condition {

    .area-label {
      background-color: rgba(141, 89, 106, 0.6);
    }

    .resource-label {
      color: white;
      text-shadow: var(--stdshadow);
      text-align: center;
      font-size: 16px;
    }

    div#consequence-banner {
      background-color: var(--salmon);
      border-radius: 10px 10px 0px 0px;
      width: 50%;
      margin-left: 25%;
    }
    
    div#consequence-holder {
      background-color: var(--salmon);
      border-radius: 0px 0px 10px 10px;
      width: 90%;
      margin-left: 5%;
      padding-bottom: 2px;
    }

    div.condition-tracker {
      flex-grow: 0;
      flex-basis: 120px;
      padding: 6px 10px;
      background-color: var(--salmon);

      div.flexrow {
        justify-content: center;
        width: 100%;
  
        input {
          flex-grow: 1;
        }
  
        span {
          color: white;
          font-weight: bold;
          display: inline-block;
          font-size: 20px;
          text-align: center;
        }
      }
    }

    label.resource-label[for="system.consequences"] {
      color: var(--salmon);
      text-shadow: none;
    }
  }

  input {
    background-color: rgba(255,255,255, 70);
  }

  .area-label {
    text-transform: uppercase;
  }

  #header-foot {
    height: 160px;
  }

  div#header-bottom {
    height: 20px;
    width: 100%;
    img {
      width: 100%;
      border: none;
    }
  }

  div#tab-separator-line {
    position: relative;
    border-bottom: 6px #88989e double;
    top: 21px;
    z-index: 4;
    flex: 0;
  }

  .sheet-tabs {
    border-top: unset!important;
    border-bottom: unset!important;
    > a {
      z-index: 5;
      font-family: 'Goodbrush', sans-serif;
      color: var(--darkblue);
      font-size: 16px;
    }

    > [data-tab] {
      background-color: #f5f2d7;
      text-shadow: none;
    }

    > [data-tab].active {
      background-color: #f9ee91;
      text-shadow: none;
    }
  }

  #grid-details {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: 33% 67%;
    gap: 10px;
    margin: 10px 0;
    padding: 0;
  }

  div#impulses {
    .area-label {
      font-size: 32px;
      text-align: center;
      font-family: 'Goodbrush', sans-serif;
      background: var(--skillbrown);
      color: white;
      text-shadow: var(--stdshadow);
      margin-bottom: 8px;
    }

    div.impulse-input {
      position: relative;
      margin-bottom: 6px;
      border: solid 2px var(--skillbrown);
      border-radius: 4px;

      textarea {
        border: none;
        padding-top: 8px;
        background-color: white;
        min-height: 75px;
      }

      label {
        position: absolute;
        bottom: 0px;
        right: 0px;
        text-align: right;
        color: white;
        background-color: var(--skillbrown);
        padding: 4px 1px 1px 4px;
        display: inline-block;
        text-shadow: var(--stdshadow);
      }
    }
  }

}
